@import url('https://fonts.googleapis.com/css?family=Rubik:300i,400,500,700&subset=cyrillic');
:root
    {
        --btn-bg: linear-gradient(to top left,#5EFCE8,#736EFE);
    }
body {
    font-family: 'Rubik', sans-serif;
    background: #f0f0f0;
    font-size: 16px;
}
#signupForm {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    }
    label, input::placeholder { text-align: left; }
    /* #login { grid-area: login }
    #mail { grid-area: mail }
    #pass { grid-area: pass }
    #label1 { grid-area: label1 }
    #label2 { grid-area: label2 }
    #label3 { grid-area: label3 }
    #signupBtn { grid-area: signup } */
.showcase {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.showcase h1 {
    margin: 1rem;
    font-size: 1.6rem;
    text-transform: uppercase;
}
.signupForm {
    min-width: 350px;
    background: #fff;
    padding: 2rem 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
.signupForm input::placeholder { 
    font-size: .9rem;
    font-style: italic;
    opacity: .2; 
}
.signupForm label {
    display: block;
    font-size: .8rem;
    margin-bottom: 5px;
}
.signupForm input {
    background: #f0f0f0;
    width: 100%;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 8px;
}
.signupForm input:focus {
    border: 2px solid #52E5E7;
}
.signupForm__login {
    grid-column: 1/-1;
    padding: 2px;
    border-radius: 8px;
}
.signupForm__email {
    grid-column: 1/-1;
    padding: 2px;
    border-radius: 8px;
}
.signupForm__password {
    grid-column: 1/-1;
    padding: 2px;
    border-radius: 8px;
}
.signupForm__submit {
    grid-column: 1/-1;
}
#signupBtn {
    width: 100%;
    padding: 18px 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    border-radius: 30px;
    border: 0;
    background: var(--btn-bg);
    transition: all .2s cubic-bezier(0,.6,.72,1.8);
}
#signupBtn:hover {
    filter: brightness(110%);
    letter-spacing: .5rem;
}
#signupBtn:active, #signupBtn:focus {
    filter: brightness(85%);
}
/* .signupForm label {
    line-height: 2.5rem;
} */